* {
  margin: 0;
  padding: 0;
  
}

p {
  /*
  nao eh a melhor maneira de fazer
  font-size: 16px;
  */
}

header {
  width: 50%;
}

body {
  width: 100%;
}

h1 {
  border: 5px dashed red;
  width: 50%;
  font-size: 3rem;
  padding: 0.5em; /* ele se baseia no font-size 3rem */
}

main {
  width: 50%;
  background-color: skyblue;
}

p {
  /* 'rem' é a configuração que o usuario defini no browser */
  font-size: 1rem;

  /* 'em' multiplica o size anterior 
     não é recomendado
  */

  width: 40ch;
}