* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; /* isso faz  a imagem ocupar a linha toda */
}

body {
  min-height: 100vh;
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px solid red;
}

.example img {
  width: 25%;
  height: auto;
}

/* Profile, Figure */
.profile-pix-figure {
  width: 35%;
}

.profile-pix-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}