/*
Typography is the way that text
is arranged and presented
*/

body {
  padding: 10%;
  font-size: 1.5rem;
}

/* input,
button {
  font: inherit;
} */

p {
  text-decoration: line-through;
  text-transform: uppercase;
  /* text-align: right; */
  text-indent: 2em;
  line-height: 1.5;
  letter-spacing: 0.2em;
  word-spacing: 0.6em;
  font-weight: 900;
  font-family: cursive;
  font-style: italic;
}