section {
  height: 100vh;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

header, footer {
  color: #fff;
  text-align: center;
  height: 100px;
}

header {
  position: sticky;
  top: 0;
  font-size: 5rem;
}

footer {
  background-color: #000;
  position: fixed;
  bottom: 0;
  font-size: 3rem;
  width: 100%;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

.social {
  background-color: royalblue;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  position: fixed;
  top: 15%;
  left: 0;
  z-index: 1;
}