* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #333;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;
}

.inner-container {
  border-style:double;
  border-color: blue;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute {
  background-color: #00ff;
  /* se o box anterior é relative, então este será considerado
     caso contrario, este absolute irá ser aplicado em relacao à pagina
  */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.relative {
  background-color: red;
  /* será sempre relativo ao div pai */
  position: relative;
  top: 10px;
  left: 10px;
}

.fixed {
  /* nao é afetado por nada
     é ótimo para menu que nao se mexe
   */
  background-color: green;
  position: fixed;
  top: 100px;
  left: 250px;
}

.sticky {
  background-color: black;
  position: sticky;
  top: 0;
}