:root {
  --COLOR-DARK: #0f172a;
  --COLOR-LIGHT: #f1f6f9;
  --COLOR-ACCENT: #e11d48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 2px;
  color: var(--COLOR-DARK);
  background-color: var(--COLOR-LIGHT);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  height: 700px;
  margin: 0 auto;
  border: 10px solid var(--COLOR-DARK);
}

.item {
  width: 150px;
  height: 150px;
  background-color: #fb7185;
  padding: 1em;
  font-weight: 700;
  color: var(--COLOR-LIGHT);
  text-align: center;
  border: 10px solid var(--COLOR-ACCENT);
  border-radius: 10px;
}

.container {
  display: flex;
  /* pula fora do box superior 
  flex-wrap: nowrap; */

  flex-wrap: wrap;

  align-content: space-around;
  gap: 1rem;
}