* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block; /* it will remove spaces */
  max-width: 100%; /* it will not overflow the container */
  height: auto;
}

/* START UTILITY*/

.nowrap {
  white-space: nowrap;
}

/* END UTILITY */

body {
  font-size: 1.5rem;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: #1e293b;
  color: whitesmoke;
  text-align: center;
}

nav {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

header {
  top: 0;
}

nav a,
nav a:visited {
  color: #000;
}

nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}

main {
  flex-grow: 1;
}

footer {
  bottom: 0;
}

/*  SMALL */
@media screen and (min-width: 567px) {
  body {
    background-color: gold;
    background-image: radial-gradient(whitesmoke, gold);
  }

  nav {
    display: none;
  }
}

/*  MEDIUM */
@media screen and (min-width: 768px) {
  body {
    background-color: orange;
    background-image: radial-gradient(whitesmoke, orange);
  }
}

/*  LARGE */
@media screen and (min-width: 992px) {
  body {
    background-color: red;
    background-image: radial-gradient(whitesmoke, red);
  }
}

/*  XL */
@media screen and (min-width: 1200px) {
  body {
    background-color: blue;
    background-image: radial-gradient(whitesmoke, blue);
  }
}

/*  MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ration: 7/4) {
  body {
    background-color: purple;
    background-image: radial-gradient(whitesmoke, purple);
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }
}
