* {
  border: 3px solid black
}

html {
  font-size: 40px;
}

/* este font-size sobrepoe o html font-size */
body {
  font-size: 22px;
  line-height: 1.5;
  background: papayawhip;
}

main {
  font-family: monospace;
}

button, input, textarea {
  font: inherit
}

h1, 
h2 {
  color: blue
}

p {
  color: purple;
}

/*
se usarmos o !important, este purple vai sobrepor TUDO que vier abaixo
não é recomendado usar isto
p {
  color: purple!important;
}
*/

/* este segundo p sobrepoe o anterior 
   esta técnica não sobrepoe um class
*/
p {
  color: green;
}

p span {
  text-transform: uppercase;
  background-color: gold;
}

.highlight {
  text-transform: uppercase;
  background-color: gold;
}

.font-color-gray {
  color: gray;
}

/* it's not recommended to use ID like this */
#using-id {
  font-style: italic;
}